<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="robots" content="noindex, nofollow">
    <title>About</title>
</head>

<body>

{{> ../partials/_header}}

<main>
    <div class="pt-5 pb-2 bg-success-subtle">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="h3 fw-bold">About</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="row">
            <div class="col-12 col-md-9">
                <h2 class="h4 fw-bold">Skills:</h2>
                <ul>
                    <li>Proficient in HTML5, CSS3, JavaScript and modern build tools</li>
                    <li>Extensive experience with WordPress and HubSpot CMS, including theme development, customization, and plugin integration</li>
                    <li>Strong understanding of digital accessibility standards (WCAG) and experience in implementing accessible designs and features</li>
                    <li>Proven track record in building scalable and maintainable design systems to streamline development workflows and ensure consistency across projects</li>
                </ul>
            </div>
            <div class="col-12 col-md-3">
                <img class="img-fluid" src="./images/portrait-alt.jpg" alt="Portrait">
            </div>
        </div>
    </div>

</main>

{{> ../partials/_footer}}

</body>
</html>
