<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="robots" content="noindex, nofollow">
    <title>Contact</title>
</head>

<body>

{{> ../partials/_header}}

<main>
    <div class="pt-5 pb-2 bg-success-subtle">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="h3 fw-bold">Contact</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="row">
            <div class="col-12 col-md-8">

                    <p>
                        <strong>Phone:</strong> <a href="#">123.555.6789</a> <br>
                        <strong>Email:</strong> <a href="#">notarealemail@email.com</a>
                    </p>

            </div>
        </div>
    </div>

</main>

{{> ../partials/_footer}}

</body>
</html>
