<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="robots" content="noindex, nofollow">
    <title>Portfolio</title>
</head>

<body>

{{> ../partials/_header}}

<main>
    <div class="px-4 py-5 text-center bg-success-subtle">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="col-lg-10 mx-auto">
                        <h1 class="h3 fw-bold">This is the portfolio of Designer turned Developer, Kris Combs</h1>
                        <p class="lead mb-4">With over 15 years experience of front-end development and UI/UX design at various agencies, I bring a wealth of experience building custom sites for a variety of clients and industries. This is being built as an MVP for an assignment and would be very different if built for real.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{{> ../partials/_footer}}

</body>
</html>
