<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="robots" content="noindex, nofollow">
    <title>Portfolio</title>
</head>

<body>

{{> ../partials/_header}}

<main>
    <div class="pt-5 pb-2 bg-success-subtle">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="h3 fw-bold">Portfolio</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card">
                    <img src="./images/hcit.png" class="card-img-top" alt="HealthCare IT Leaders">
                    <div class="card-body">
                        <h5 class="card-title">HealthCare IT Leaders</h5>
                        <ul>
                            <li>Custom Wordpress Development</li>
                            <li>Webpack/SCSS/JS</li>
                        </ul>
                        <a target="_blank" href="https://www.healthcareitleaders.com" class="btn btn-primary">View Site</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <img src="./images/fcne.png" class="card-img-top" alt="Fertility Centers of New England">
                    <div class="card-body">
                        <h5 class="card-title">Fertility Centers of New England</h5>
                        <ul>
                            <li>Custom Wordpress Development</li>
                            <li>Webpack/SCSS/JS</li>
                        </ul>
                        <a target="_blank" href="https://www.fertilitycenter.com" class="btn btn-primary">View Site</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <img src="./images/tc.png" class="card-img-top" alt="Turbocam">
                    <div class="card-body">
                        <h5 class="card-title">Turbocam</h5>
                        <ul>
                            <li>Custom Wordpress Development</li>
                            <li>Webpack/SCSS/JS</li>
                        </ul>
                        <a target="_blank" href="https://www.turbocam.com" class="btn btn-primary">View Site</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{{> ../partials/_footer}}

</body>
</html>
